language: minimal

services: docker

env:
  - DOCKER_COMPOSE_VERSION=1.24.1

before_install:
  - docker -v && docker-compose -v
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  - curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
  - chmod +x ./kubectl
  - sudo mv ./kubectl /usr/local/bin/kubectl

install:
  - docker-compose -f deployment/docker/docker-compose-build.prod.yaml build --parallel

deploy:
  - provider: script
    script: bash deployment/docker/publish.sh
    on:
      branch: master
  - provider: script
    script: bash deployment/k8s/deploy.sh
    on:
      branch: master